<div class="bgComponent">
    <div class="form">
        <mat-card class="card">
            <mat-card-title>Update user</mat-card-title>
            <mat-card-content>
                <div class="container" *ngFor="let user of userData">
                    <mat-form-field>
                        <input [(ngModel)]="registerData.name" type="text" value="{{user.name}}" matInput
                            placeholder="{{user.name}}" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input [(ngModel)]="registerData.password" value="" type="password" matInput
                            placeholder="Password" required />
                    </mat-form-field>
                    <h2>{{user.email}}</h2>
                    <input type="" [(ngModel)]="registerData.email" value="{{user.email}}">
                    <mat-form-field appearance="fill">
                        <mat-label *ngIf="user.roleId == '6113e129ba435645a4514644'">User</mat-label>
                        <mat-label *ngIf="user.roleId == '6113e175ba435645a4514648'">Admin</mat-label>
                        <mat-select [(ngModel)]="registerData.role">
                            <mat-option value="6113e175ba435645a4514648">Admin</mat-option>
                            <mat-option value="6113e129ba435645a4514644">User</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="updateUser()" class="button" mat-raised-button>
                    Register
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>